.flex {
  display: flex;
  @for $i from 1 through 20 {
    &-#{$i} {
      flex: 0 1 calc(100% / 20 * #{$i});
    }
  }

  &-mwrap {
    @media screen and (max-width: 768px) {
      flex-wrap: wrap;
    }
  }

  &-col {
    flex-direction: column;
  }

  &-ac {
    align-items: center;
  }

  &-jc {
    justify-content: center;
  }

  &-auto {
    flex: 1 1 auto;
  }

  &-fauto {
    flex: 1 0 auto;
  }
}
