:host {
  display: block;
  max-width: 800px;
  margin: 0 auto;
  padding: 40px;
  position: relative;
  @media screen and (max-width: 768px) {
    padding: 10px;
  }
  @media print {
    padding: 10px;
    box-shadow: none;
  }
}
