<h1 class="m-0 fs-30 t-center t-thin">CURRICULUM VITAE</h1>
<!--<div class="fs-13 only-print t-thin t-center">Dostępne również na: <a href="https://threydor.github.io">threydor.github.io</a>-->
<!--</div>-->
<h2 class="fs-25 t-center">Tomasz Osipiak</h2>
<section class="cv-section flex flex-jc flex-mwrap fs-14">
  <div class="cv-info ph-20 ">
    <ng-container
      *ngFor="let info of infoData"
      [ngTemplateOutlet]="infoCol"
      [ngTemplateOutletContext]="{left: info.left, right: info.right}"
    ></ng-container>
  </div>
  <div class="cv-photo__wrap flex-5">
    <img class="cv-photo__src bordershadow"
         alt="Zdjęcie profilowe :)"
         src="/assets/profile-photo.jpg"
         height="800"
         width="800">
  </div>
</section>
<section class="cv-section">
  <h2 class="cv-section__title">Wykształcenie</h2>
  <div class="cv-section__content">
    <div class="fs-16">
      2014 - 2018:
    </div>
    <div class="fs-14">
      <span>
        Politechnika Białostocka, <strong>Informatyka</strong>,
      </span>
      <span class='fs-12 t-thin'>
        Stacjonarne, pierwszego stopnia
      </span>
    </div>
  </div>

</section>
<section class="cv-section">
  <h2 class="cv-section__title">Doświadczenie zawodowe i praktyka</h2>
  <div class="cv-section__content">
    <p class="fs-17 m-b-0 m-t-10">
      2017 - Obecnie: <strong>9bits</strong> SP. Z O.O.:
    </p>
    <table class="fs-12">
      <tr>
        <td class="cv-table__td">
          Zakres obowiązków:
        </td>
        <td class="cv-table__td">
          <ul>
            <li>współpraca z klientami odnośnie tworzenia i ulepszania stron internetowych</li>
            <li>tworzenie i rozwój istniejących aplikacji internetowych</li>
            <li>tworzenie dokumentacji</li>
            <li>utrzymanie kodu, refaktoring istniejącego kodu</li>
            <li>zarządzanie zespołem, przydzielanie zadań, Code Review</li>
            <li>planowanie sprintów</li>
            <li>wycena pracochłonności</li>
            <li>wdrożenia aplikacji (CI/CD)</li>
            <li>ścisła współpraca z zespołem backendowym</li>
            <li>ustalanie wymagań podczas tworzenia nowych funkcjonalności aplikacji</li>
          </ul>
        </td>
      </tr>
    </table>
  </div>
  <div class="cv-section__content">
    <p class="fs-17 m-b-0 m-t-10">
      VII-VIII 2016: <strong>INTRUM JUSTITIA</strong> SP. Z O.O.:
    </p>
    <table class="fs-12">
      <tr>
        <td class="cv-table__td">
          Zakres obowiązków:
        </td>
        <td class="cv-table__td">
          <ul>
            <li>ewidencja / inwentaryzacja / konserwacja sprzętu IT</li>
            <li>pomoc w przygotowaniu sprzętu IT dla użytkowników końcowych</li>
            <li>utrzymanie dokumentacji papierowej i elektronicznej</li>
            <li>pomoc w obsłudze zgłoszeń / incydentów w I linii wsparcia</li>
          </ul>
        </td>
      </tr>
    </table>
  </div>
</section>
<section class="cv-section">
  <h2 class="cv-section__title">Umiejętności i zainteresowania</h2>
  <div class="cv-section__content fs-12">
    <table>
      <tr>
        <td class="cv-table__td">
          Języki programowania:
        </td>
        <td class="cv-table__td">
          Biegle:
          <div class="fs-15 m-b-5">
            <span class="t-bold m-r-10" *ngFor="let skill of skills.programming">{{skill}}</span>
          </div>

          <span class="t-thin">Mniej biegle:</span>
          <div class="fs-12 m-b-7">
            <span class="m-r-5" *ngFor="let skill of skills.programmingLessKnown">{{skill}}</span>
          </div>
        </td>
      </tr>
      <tr>
        <td class="cv-table__td">
          Języki obce:
        </td>
        <td class="cv-table__td">
          <div><strong>Angielski</strong> – płynny</div>
          <div><strong>Rosyjski</strong> – komunikatywny</div>
        </td>
      </tr>
      <tr>
        <td class="cv-table__td">
          Oprogramowanie:
        </td>
        <td class="cv-table__td">
          <div class="fs-13">
            <span class="m-r-7" *ngFor="let skill of skills.software">{{skill}}</span>
          </div>
        </td>
      </tr>
      <tr>
        <td class="cv-table__td">Prawo jazdy:</td>
        <td class="cv-table__td">
            <strong>A, B</strong>
        </td>
      </tr>
      <tr>
        <td class="cv-table__td">Zainteresowania:</td>
        <td class="cv-table__td">
            Podróże duże i małe, wycieczki rowerowe/motocyklowe
        </td>
      </tr>
    </table>
  </div>
</section>
<section class="cv-footer t-center">
  Wyrażam zgodę na przetwarzanie moich danych osobowych zawartych w tym dokumencie dla potrzeb niezbędnych do realizacji
  procesu rekrutacji
  (zgodnie z ustawą z dnia 29.08.1997 o Ochronie Danych Osobowych, Dz. U. Nr 133, poz. 883)
</section>

<ng-template #infoCol let-left="left" let-right="right">
  <div class="m-b-5">
    <div class="cv-info-left t-thin fs-12">{{left}}:</div>
    <div class="cv-info-right t-normal" [innerHTML]="right | safe:'html'"></div>
  </div>
</ng-template>
